<web-app>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>java.com.exapmle.servlets.ProductListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>