<web-app>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.example.servlets.ProductListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/products-list-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.example.servlets.AddToCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.example.servlets.CheckoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
</web-app>